*{
    margin: 0;
    padding: 0;
}
#container{
    user-select: none;
    background-color: rgb(22, 44, 51);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#titulo{
    z-index: 1; 
    position: fixed;
    width: 100%;
    text-align: center;
    color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    user-select: none;
}
.titulo2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}
#as_pand{
    background-image: url('./imagenes/ast_pand.webp');
    background-size: 90%;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 400px;
    height: 500px;
}
#estadisticas{
    height: 500px;
    width: 400px;
    color: white;
}
#canvas{
    border: 1px solid black;
    background-image: url("./imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 200%;
}
